# Configuración de IBM Quantum
IBM_QUANTUM_TOKEN=your_ibm_quantum_token_here
#IBM_QUANTUM_INSTANCE=  # Opcional, se detectará automáticamente
IBM_QUANTUM_CHANNEL=ibm_quantum_platform
IBM_QUANTUM_DEFAULT_BACKEND=ibm_brisbane
IBM_QUANTUM_DEFAULT_SHOTS=100
IBM_QUANTUM_OPTIMIZATION_LEVEL=1
IBM_QUANTUM_USE_SESSION=False

# Configuración general
DEBUG=True
SECRET_KEY=your_secret_key_here
HOST=127.0.0.1
PORT=5000

# Configuración del entorno cuántico (SpinQ)
QUANTUM_ENGINE_IP=172.27.52.229
QUANTUM_ENGINE_PORT=8989
QUANTUM_ACCOUNT_USER=SpinQ001
QUANTUM_ACCOUNT_PASSWORD=123456
QUANTUM_TASK_NAME=QuantumTask

# Configuración de simulador
SIMULATION_SHOTS=1024
